settings:
  sequential: true
  email_on_fail: false
  continue_on_fail: true
  iterations: 1

core_tests:
  include: [testsuite.memory]
  exclude: []
  parameters:
    testsuite.memory.MemorySize:
      total_mb: 985
      available_mb: 500

script_tests:
  cat_meminfo:
    script:
    - cat /proc/meminfo
    should_print: ['MemFree:']
    should_not_print: ['error', 'unknown']
    timeout: 10
  ls:
    script: ls

#c_tests:
#  yocto_sdk: /home/aleravat/witekio/mturbo-yocto/yocto/oecore-x86_64-armv5-toolchain-nodistro.0.sh
#  tests:
#    MyTest:
#      sources: [main.c]
