credentials:
  login: mendel
  password: mendel

console:
  serial:
    #port: /dev/ttyUSB0
  ssh:
    target: 192.168.0.25

#power:
#  ippower9258:
#    host: 192.168.0.30
#    outlet: 1
#    login: admin
#    password: pass